<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="encoreSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          useDefaultWebProxy="true" />
      </basicHttpBinding>
      <customBinding>
        <binding name="encoreSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://neudev.ceh.ac.uk/encore/encore.asmx"
        binding="basicHttpBinding" bindingConfiguration="encoreSoap"
        contract="Encore.WebServices.encoreSoap" name="encoreSoap" />
      <endpoint address="http://neudev.ceh.ac.uk/encore/encore.asmx"
        binding="customBinding" bindingConfiguration="encoreSoap12"
        contract="Encore.WebServices.encoreSoap" name="encoreSoap12" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
